# Python
__pycache__/
*.py[cod]
*.so
venv/
.env

# Vercel
.vercel/

# Node / Expo
node_modules/
.expo/
dist/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
